
.encabezado {
  background: #FFFF;
  box-shadow: 0px 0px 10px 0px black;
}

.titulo {text-align: center; font-weight: 700;}

h1, h3 {color:rgb(121, 113, 113);margin-bottom: 3%;}

fa-sad-tear {color:rgb(121, 113, 113);}

.container {padding-top: 5%; padding-bottom: 5%;}



.condicion {margin-left: 53%;}

.notabla {width: 100%;}

.sincondicion {display: flex;}

.btn-secondary {
  background: #0a7aa7;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2.6%;
  display: flexbox;
}

.Advertencia {
  margin-bottom: 17%;
}

.btn-secondary:hover {
  background: #269dcc;
}

.btn-secondary:active {
  background: #58b5da !important;
  color: #000000 !important;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.btn-secondary {
  background: #0a7aa7;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2.6%;
}

.Advertencia {
  margin-bottom: 17%;
}

.btn-secondary:hover {
  background: #269dcc;
}

.btn-secondary:active {
  background: #58b5da !important;
  color: #000000 !important;
}
