<div class="container encabezado" id="cuerpo">
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">GESTIÓN DE SEDES</h1>
      <div *ngIf="!peticion.elementos.length" class="row">
          <h3 class="hnotabla">¡Lo sentimos, no tienes sedes registradas! <i class="fas fa-sad-tear"></i></h3>
        <div class="col-md-6"><button style="height: 45px;" class="btn btn-secondary notabla"
            (click)="RegistrarSede()"><i class="fas fa-plus"></i> Nueva Sede</button></div>
        <div class="col-md-6"><button style="height: 45px;" class="btn btn-secondary condicion notabla"
            [routerLink]="['/gestionRestaurante']"><i class="fas fa-backward"></i> Volver</button></div>
      </div>
      <div *ngIf="peticion.elementos.length" class="sincondicion">
        <div class="col-md-4">
          <label>Nombre de la Sede o ID del Restaurante:</label>
          <input [(ngModel)]="filtroSede" type="text" class="form-control" (ngModelChange)="ModificarListaProvisional()"
            placeholder="Digite aquí su busqueda">
        </div>
        <div class="col-md-4">
          <div><button style="height: 55px;" class="btn btn-secondary notabla" (click)="Registrar()">
              <i class="fas fa-plus"></i> Nueva Sede</button></div>
        </div>
        <div class="col-md-4"><button style="height: 55px;" class="btn btn-secondary condicion notabla"
          [routerLink]="['/gestionRestaurante']"><i class="fas fa-backward"></i> Volver</button></div>
      </div>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-sm table-bordered" *ngIf='Sedes && Sedes.length'>
    <thead>
      <tr>
        <th>#</th>
        <th>Id de la Sede</th>
        <th>Nombre</th>
        <th>NIT del restaurante</th>
        <th>Direccion</th>
        <th>Teléfono</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Sede of Sedes | filtroSede: filtroSede; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ Sede.sedeId }}</td>
        <td>{{ Sede.nombre }}</td>
        <td>{{ Sede.restauranteId }}</td>
        <td>{{ Sede.direccion }}</td>
        <td>{{ Sede.telefono }}</td>
        <td><button class="left" (click)="Modificar(Sede.sedeId)" mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button>
          <button mat-flat-button color="primary"
          [routerLink]='["/gestionManipulador", Sede.restauranteId, Sede.sedeId]'>
            <mat-icon>people</mat-icon>
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>