<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <ul>
    <header> </header>
    <li><a [routerLink]='["/"]'><i class="fas fa-home"></i> Inicio</a></li>
    <li><a [routerLink]='["/nosotros"]'><i class="fas fa-users"></i> ¿Quiénes somos?</a></li>
    <li><a [routerLink]='["/gestionRestaurante"]'><i class="fas fa-utensils"></i>Restaurantes</a></li>
    <li><a [routerLink]='["/gestionManipulador"]'><i class="fas fa-clipboard-list"></i> Gestion Manipulador</a></li>
    <li><a [routerLink]='["/"]'><i class="fas fa-search"></i> Resultados</a></li>
  </ul>
</div>
<section>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</section>
