<div class="card">
  <div class="card-body">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
      <li [ngbNavItem]="1" [destroyOnHide]="false">
        <a ngbNavLink>Datos del Propietario</a>
        <ng-template ngbNavContent>
          <form [formGroup]="formularioRegistroPropietario">
            <div class="cabecera-formulario">
              <p>Datos del propietario</p>
            </div>
            <div class="row cuerpo">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Identificacion del propietario:</label>
                  <input type="text"  name="identificacion" formControlName="identificacion" [(ngModel)]="propietario.identificacion" placeholder ="Digite aquí la identificacion" class="form-control">
                  <div
                    *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)" class="alert alert-danger">
                    <div *ngIf="identificacion.errors.required">
                      La identificación es un valor requerido
                    </div>
                    <div *ngIf="identificacion.errors.minlength">
                      El numero de identificación debe tener más de 7 caracteres
                    </div>
                    <div *ngIf="identificacion.errors.maxlength">
                      El numero de identificación debe tener menos de 10 caracteres
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Nombres del propietario:</label>
                  <input type="text" name="nombres" formControlName="nombres" [(ngModel)]="propietario.nombres" placeholder ="Digite aquí el nombre del propietario" class="form-control">
                  <div
                    *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="alert alert-danger">
                    <div *ngIf="nombres.errors.required">
                      El nombre es un valor requerido
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Primer Apellido:</label>
                  <input type="text"  name="primerApellido" formControlName="primerApellido" [(ngModel)]="propietario.primerApellido" placeholder ="Digite aquí el primer apellido" class="form-control">
                  <div
                    *ngIf="primerApellido.invalid && (primerApellido.dirty || primerApellido.touched)" class="alert alert-danger">
                    <div *ngIf="primerApellido.errors.required">
                      El primer Apellido es un valor requerido
                    </div>
                    <div *ngIf="primerApellido.errors.maxlength">
                      El primer Apellido no debe tener más de 30 caracteres
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>segundo Apellido del propietario:</label>
                  <input type="text" name="segundoApellido" formControlName="segundoApellido" [(ngModel)]="propietario.segundoApellido" placeholder ="Digite aquí el segundo apellido" class="form-control">
                  <div
                    *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)" class="alert alert-danger">
                    <div *ngIf="segundoApellido.errors.required">
                      El segundo apellido es un valor requerido
                    </div>
                    <div *ngIf="segundoApellido.errors.maxlength">
                      El segundo apellido no debe debe tener más de 30 caracteres
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Sexo :</label>
                  <select name="sexo" formControlName="sexo"  class="form-control" [(ngModel)]="propietario.sexo">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                  <div
                    *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)" class="alert alert-danger">
                    <div *ngIf="sexo.errors.required">
                      El sexo es un valor requerido
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Edad del propietario:</label>
                  <input type="number" name="edad" formControlName="edad" [(ngModel)]="propietario.edad" placeholder ="aqui el nombre del servicio" class="form-control">
                  <div
                    *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="alert alert-danger">
                    <div *ngIf="edad.errors.required">
                      La edad es un valor requerido
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>

        </ng-template>

      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Datos Restaurante</a>
        <ng-template ngbNavContent>
          <form [formGroup]="formularioRegistro">
            <div class="cabecera-formulario">
              <p>Registro de Restaurante</p>
            </div>
            <div class="row cuerpo">
              <div class="col-md-6">
                <div class="form-group">
                  <label>NIT del Restaurante:</label>
                  <input type="text" formControlName="NIT" [(ngModel)]="peticion.elemento.NIT"
                    placeholder="Aquí el NIT del restaurante" class="form-control">
                  <div *ngIf="NIT.invalid && (NIT.dirty || NIT.touched)" class="alert alert-danger">
                    <div *ngIf="NIT.errors.required">
                      El NIT es un valor requerido
                    </div>
                    <div *ngIf="NIT.errors.minlength || NIT.errors.maxlength">
                      El NIT del restaurante debe tener entre 6 y 15 caracteres
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Nombre del Restaurante:</label>
                  <input type="text" formControlName="nombre" [(ngModel)]="peticion.elemento.nombre"
                    placeholder="Aquí el nombre del restaurante" class="form-control">
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                      El nombre es un valor requerido
                    </div>
                    <div *ngIf="nombre.errors.maxlength">
                      El nombre del restaurante debe tener máximo 30 caracteres
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Direccion del restaurante:</label>
                  <input type="text" formControlName="direccion" [(ngModel)]="peticion.elemento.direccion"
                    placeholder="Aquí la direccion del restaurante" class="form-control">
                  <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                    <div *ngIf="direccion.errors.required">
                      La direccion del restaurante es requerida
                    </div>
                    <div *ngIf="direccion.errors.maxlength">
                      La direccion del restaurante debe tener máximo 40 caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sede del restaurante:</label>
                  <input type="text" formControlName="sede" [(ngModel)]="peticion.elemento.sede"
                    placeholder="Aquí la sede del restaurante" class="form-control">
                  <div *ngIf="sede.invalid && (sede.dirty || sede.touched)" class="alert alert-danger">
                    <div *ngIf="sede.errors.required">
                      La sede del restaurante es requerida
                    </div>
                    <div *ngIf="sede.errors.maxlength">
                      La sede del restaurante debe tener máximo 20 caracteres
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Teléfono del restaurante:</label>
                  <input type="number" formControlName="telefono" [(ngModel)]="peticion.elemento.telefono"
                    placeholder="Aquí la telefono del restaurante" class="form-control">
                  <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                      El telefono del restaurante es requerida
                    </div>
                    <div *ngIf="telefono.errors.max">
                      El telefono digitado no es válido
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="button">
              <div class="col-md-4">
                <button class="btn btn-secondary" (click)="Registrar()"><i class="fas fa-save"></i> Registrar
                  Restaurante</button>
              </div>
              <div class="col-md-4">
                <button type="reset" class="btn btn-secondary"><i class="fas fa-broom"></i> Limpiar Formulario</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-secondary" (click)="onClose()"><i class="fas fa-backward"></i> Retroceder</button>
              </div>
            </div>
          </form>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>



