
<div class="modal-header header">
  <h1 class="modal-title ">Registrar Restaurante</h1>
  <button type="button" class="ico"  (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-window-close" ></i>
  </button>
</div>
<div class="modal-body">

  <div class="card" >
    <div class="card-body" >
        <form [formGroup]="formularioRegistro">
          <div class="cabecera-formulario"> <p>Registro de Restaurante</p> </div>
            <div class="form-group">
              <label>Nombre del Restaurante:</label>
              <input type="text" formControlName="nombre" [(ngModel)]="restaurante.nombre" placeholder ="aqui el nombre del servicio" class="form-control">
              <div
                *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                <div *ngIf="nombre.errors.required">
                  el nombre es un valor requerido
                </div>
                <div *ngIf="nombre.errors.minlength">
                  el nombre del restaurante debe tener mas de 7 caracteres
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Direccion del restaurante:</label>
              <input type="text" formControlName ="direccion" [(ngModel)]="restaurante.direccion"  placeholder ="aqui la direccion del restaurante" class="form-control">
              <div
                *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                <div *ngIf="direccion.errors.required">
                  la direccion del restaurante es requerida
                </div>
                <div *ngIf="direccion.errors.maxlength">
                  la direccion del restaurante no debe exeder 40 caracteres
                </div>
              </div>
            </div>
              <button class="button btn-guardar" (click)="Registrar()"  [disabled]="formularioRegistro.invalid"><i class="fas fa-save"></i>Registrar Servicio </button>
              <button class="button btn-cancelar"><i class="fas fa-window-close"></i>Cancelar</button>
        </form>
    </div>
</div>

</div>
<div class="modal-footer">
  <button type="button" class="btn-rojo" >Cerrar</button>
</div>
