<div class="container encabezado" id="cuerpo">
  <div class="row">
    <div class="col-md-12">
      <h1 class="titulo">GESTIÓN DE RESTAURANTES</h1>
      <div *ngIf="!restaurantes.length">
        <h3>¡Lo sentimos, no tienes restaurantes registrados! <i class="fas fa-sad-tear"></i></h3>
        <div class="col-md-6"><button style="height: 45px;" class="btn btn-secondary condicion notabla"
          (click)="RegistrarRestaurante()"><i class="fas fa-plus"></i> Nuevo Restaurante</button></div>
      </div>
      <div *ngIf="restaurantes.length" class="sincondicion">
      <div class="col-md-6">
        <label>Filtrar por ID, Nombre o ID del propietario:</label>
        <input [(ngModel)]="searchText" type="text" class="form-control"
        (ngModelChange)="ModificarListaProvisional()" placeholder="Digite aquí su busqueda">
      </div>
        <div class="col-md-6">
          <div><button style="height: 55px;" class="btn btn-secondary notabla" (click)="RegistrarRestaurante()">
              <i class="fas fa-plus"></i> Nuevo Restaurante</button></div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <table class="table table-hover table-sm table-bordered" *ngIf='restaurantes && restaurantes.length'>
    <thead>
      <tr>
        <th>NIT</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Sede</th>
        <th>Telefono</th>
        <th>ID del propietario</th>
        <th>Operaciones</th>
        <th>Manipuladores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurante of restaurantes">
        <td>{{restaurante.nit}}</td>
        <td>{{ restaurante.nombre }}</td>
        <td>{{ restaurante.direccion }}</td>
        <td>{{ restaurante.sede }}</td>
        <td>{{ restaurante.telefono }}</td>
        <td>{{ restaurante.propietario.identificacion }}</td>
        <td><button class="btn btn-secondary" (click)="Modificar(restaurante.nit)"><mat-icon>edit</mat-icon></i></button>
          <button class="btn btn-secondary"><mat-icon>domain</mat-icon></button>
        </td>
        <td><button class="btn btn-secondary"><i class="fas fa-search"></i> Consultar</button></td>
      </tr>
    </tbody>
  </table>
